Repository ferocchi/lyberty, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-github-username, @marketing-team, @backend-team, @design-team

Add export service packages and services
  services/export-service/packages/wasm-formulas/.gitignore
  services/export-service/packages/wasm-formulas/Cargo.toml
  services/export-service/packages/wasm-formulas/src/lib.rs
  services/export-service/services/export-service/.gitignore
  services/export-service/services/export-service/Cargo.toml
  services/export-service/services/export-service/src/main.rs
Owners: @backend-team

Clean up: Remove GitHub Actions and complex deployment files, focus on native Cloudflare integration
  .github/workflows/ci.yml
  .github/workflows/deploy-marketing.yml
  DEPLOYMENT.md
  apps/marketing/public/_headers
Owners: @your-github-username, @marketing-team

Update architecture: Marketing site for SEO with full Next.js features, web app for Tauri with static export
  CLOUDFLARE_PAGES_CONFIG.md
  DEVELOPMENT.md
  README.md
  apps/marketing/next.config.js
  apps/web/next.config.js
Owners: @your-github-username, @marketing-team

Update all Cursor context files to reflect correct architecture: marketing for SEO with full Next.js features, web app for Tauri with static export
  .cursor/rules/backend-api.mdc
  .cursor/rules/project-overview.mdc
  .cursor/rules/server-actions-patterns.mdc
  .cursor/rules/third-party-apis.mdc
  .cursor/rules/universal-form-migration-guide.mdc
  .cursor/rules/universal-form-system.mdc
Owners: @your-github-username

Consolidate Cursor context files: merge Server Actions, Form System, and Data Fetching files for better organization
  .cursor/rules/data-fetching.mdc
  .cursor/rules/form-system.mdc
  .cursor/rules/modern-data-fetching.mdc
  .cursor/rules/next-safe-action-hooks.mdc
  .cursor/rules/next-safe-action-v8.mdc
  .cursor/rules/server-actions.mdc
  .cursor/rules/universal-form-system.mdc
Owners: @your-github-username

.github/CODEOWNERS:

* @your-github-username
apps/marketing/** @marketing-team
services/** @backend-team
packages/ui/** @design-team
